@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
    --primary-color: #FF7E00;
    --secondary-color: #000000;
    --accent-color1: #FFDBB5;
    --acent-color2: #262626;

    --heading-font: 'Roboto', sans serif;
    --paragraph-font: 'Roboto', sans serif;

    --nav-background-color: #000000;
    --nav-link-color: #FF7E00;
    --nav-hover-link-color: #FFDBB5;
    --nav-hover-background-color:  #262626;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, article{
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
    font-size: 2rem;
}
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    text-align: right;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero div {
    position: relative;
}
article img {
    float: right;
}
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}
.navigation {
	display: flex;
	list-style: none;
}
.navigation li {
	flex: 1 1 100%;
}
.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}
section {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
  
img {
    max-width: 220px;
    max-height: 150px;
}
  
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
footer img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
    grid-column: auto;
}